<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'create_student' %}">Create New Student</a>
    <ul>
        {% for student in students %}
            <li>
                {{ student.name }} - {{ student.cls }} ({{ student.teacher.name }})
                (<a href="{% url 'update_student' student.pk %}">Edit</a> |
                 <a href="{% url 'delete_student' student.pk %}">Delete</a>)
            </li>
        {% endfor %}
    </ul>
</body>
</html>
